# Ignore everyting
*

# Except system files
!.gitignore
!*.md

# Except folders
!data/
!data/linear/
!data/linear/p_1000_N_1000_s_100/
!data/nonlinear/
!data/nonlinear/
!data/nonlinear/p_500_N_600_s_4
!docs/
!docs/markdowns/
!docs/notebooks/
!outputs/
!outputs/models/
!outputs/reports/

# Except files
!*.py
!*.ipynb
!*.sh
!*.txt
!*.yml
!*.pdf
!*.html
!*.Rmd
!*.R
!*.r
!*.RData
